@import "~/styles/sass/variables";

.linkMenu {
    color: $verde-claro;
}

.carousel {
    margin-bottom: 160px;
    .gridImgCaption {
        display: flex;
        flex-direction: column;
        align-items: center;
        .wrapperImg {
            width: 100%;
            max-width: 458px;
        }
    }
}

.section1 {
    background-color: $morado;
    color: $rosa-claro;
    height: 100vh;
    @media (max-width: 1199.98px) {
        height: auto;
    }
    @media (max-width: 767.98px) {
        height: auto;
    }
    .imgInicioMartin {
        transform: scale(1.2);
        position: relative;
        left: 110px;
        @media (max-width: 767.98px) {
            transform: none;
            left: 0;
        }
    }
    .containerGrid {
        padding-top: 32px;
        padding-bottom: 32px;
        height: 100%;
    }
    .grid1 {
        display: grid;
        grid-template-columns: 63% auto;
        gap: 0px 40px;
        @media (max-width: 767.98px) {
            display: block;
        }
        .wrapperImg {
            display: grid;
            place-items: center;
            height: 100%;
        }
    }
    .partText {
        color: $negro;
    }
}

.grid2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section2 {
    background-color: $verde-oscuro;
    color: $rosa-claro;
    .containerGrid3 {
        padding-bottom: 0;
    }
    .linkMenu {
        margin-top: 300px;
    }
}

.section3 {
    background-color: $verde-oscuro;
    color: $rosa-claro;
    .containerGrid3 {
        padding-top: 0;
        padding-bottom: 0;
    }
    .linkMenu {
        display: flex;
        align-items: flex-end;
    }
}

.section4 {
    background-color: $verde-oscuro;
    color: $rosa-claro;
    .containerGrid3 {
        padding-top: 0;
    }
}

.section5 {
    background-color: $gris;
    color: $azul;
    .minWrap {
        color: $negro;
        max-width: 900px;
        margin-left: auto;
    }
}

.section6 {
    background-color: $negro;
    color: $piel;
    // .linkMenu {
    //     margin-top: 100px;
    // }
    .containerVideos {
        .video1 {
            .infoVideo {
                color: $azul;
                background-color: $verde-mar;
                .mirar {
                    border-bottom: 1px solid $azul;
                }
                .titulo {
                    border-bottom: 1px solid $azul;
                }
            }
        }
    }
}