.buttonMove {
    cursor: pointer;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background-color: $blanco;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    .circleInside {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background-color: $button-move-color;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        .whiteArrow {
            // margin-bottom: -1px;
            color: $blanco;
        }
    }
}