.navbarHeader {
    padding: 0px $padding-x-container;
    height: $header-height;
    background-color: $header-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $blanco;

    @include media-breakpoint-down(xl) {
        padding: 0px 20px;
    }

    @include media-breakpoint-down(lg) {
        height: auto;
        padding: 10px 20px;
    }

    a {
        color: $blanco;
        text-decoration: none;
        &:hover {
            color: $blanco;
        }
    }

    .navbar-collapse {
        flex-grow: initial;
        ul {
            display: flex;
            text-transform: uppercase;
            @include media-breakpoint-down(lg) {
                display: block;
                padding-top: 10px;
            }
            li {
                padding: 0px 24px;
                position: relative;
                @include media-breakpoint-down(lg) {
                    padding: 5px 0px;
                }
                &::after {
                    content: "";
                    background-color: $blanco;
                    width: 1px;
                    height: 16px;
                    position: absolute;
                    right: -0.5px;
                    top: 4px;
                    @include media-breakpoint-down(lg) {
                        content: initial;
                    }
                }
                &:first-child {
                    padding-left: 0px;
                }
                &:last-child {
                    padding-right: 0px;
                    &::after {
                        content: none;
                    }
                }
            }
        }
    }
}

.navbar-light .navbar-toggler-icon {
    background-image: url("/img/svg/menu.svg");
}