@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    @include media-breakpoint-down(xxl) {
        font-size: 16px;
    }
}

nav {
    ul {
        list-style: none;
    }
}

ul {
    margin: 0;
    padding: 0;
}

.containerGrid {
    padding: 32px $padding-x-container;
    display: grid;
    grid-template-columns: minmax(20%, 1fr) minmax(auto, 885px) minmax(20%, 1fr);
    position: relative;
    .linkDown {
        position: absolute;
        left: 50%;
        bottom: 50px;
        transform: translate(-50%, 0);
    }
    @include media-breakpoint-down(xxl) {
        padding: 15px 20px;
        grid-template-columns: minmax(25%, 1fr) minmax(auto, 885px) minmax(25%, 1fr);
    }
    @include media-breakpoint-down(xl) {
        // padding: 0px 14px;
        // grid-template-columns: minmax(20%, 1fr) minmax(20%, 700px) minmax(20%, 1fr);
    }
}

.containerGrid2 {
    padding: 32px $padding-x-container;
    display: grid;
    grid-template-columns: minmax(15%, 1fr) minmax(20%, 1080px) minmax(15%, 1fr);
    position: relative;
}

.containerGrid3 {
    padding: 32px $padding-x-container;
    display: grid;
    grid-template-columns: minmax(10%, 1fr) minmax(20%, 1080px) minmax(10%, 1fr);
    position: relative;
}

.containerVideos {
    padding: 0px 60px;
    .wrapperVideo {
        display: flex;
        flex-direction: column;
        .infoVideo {
            padding: 10px 15px;
            font-weight: 500;
            .mirar {
                padding-bottom: 10px;
            }
            .titulo {
                font-size: 13px;
                padding: 10px 0px;
            }
            .descripcion {
                font-size: 13px;
                padding-top: 10px;
            }
        }
    }
}

.pointer {
    cursor: pointer;
}

.captionInfo {
    font-size: 13px;
    line-height: normal;
}

.captionDesc {
    font-size: 15px;
    line-height: 1.6;
}

.wrapperCaptionMenu {
    transition: all .8s ease;
    display: inline-block;
    position: relative;
    top: 0;
    right: 0;
    .caption {
        transition: all .3s ease;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $negro-opac;
        text-align: center;
        display: grid;
        place-items: center;
    }
    &:hover .caption {
        opacity: 1;
    }
}

.wrapperLogo {
    width: 130px;
    display: block;
}

.title-page {
    line-height: 0;
    &.home {
        .text-1 {
            width: 100%;
            margin-bottom: 2%;
        }
        .wrapper-arrow-text {
            width: 100%;
            display: grid;
            align-items: center;
            grid-template-columns: auto 36%;
            gap: 0 2%;
            margin-bottom: 2%;
            .flechas {
                width: 100%;
            }
        }
        .text-2 {
            width: 100%;
        }
    }
    &.amas {
        .text-1 {
            width: 100%;
            margin-bottom: 2%;
        }
        .wrapper-arrow-text {
            width: 100%;
            display: grid;
            align-items: center;
            grid-template-columns: auto 15%;
            gap: 0 2%;
            margin-bottom: 1%;
            .flechas {
                width: 100%;
            }
        }
        .text-2 {
            width: 100%;
        }
    }
    &.lorry {
        .text-1 {
            width: 71%;
            margin-bottom: 2%;
        }
        .wrapper-arrow-text {
            width: 100%;
            // display: grid;
            // align-items: center;
            // grid-template-columns: auto 15%;
            // gap: 0 2%;
            margin-bottom: 1%;
            .flechas {
                width: 100%;
            }
        }
        .text-2 {
            width: 100%;
        }
    }
    &.martin {
        .text-1 {
            width: 71%;
            margin-bottom: 2%;
        }
        .wrapper-arrow-text {
            width: 100%;
            // display: grid;
            // align-items: center;
            // grid-template-columns: auto 15%;
            // gap: 0 2%;
            margin-bottom: 1%;
            .flechas {
                width: 100%;
            }
        }
        .text-2 {
            width: 100%;
        }
    }
}

.underline-arrows {
    width: 218px;
}

.gridCarousel {
    display: grid;
    grid-template-columns: auto 32%;
    .gridImgCaption {
        display: grid;
        grid-template-columns: 25% auto;
        .wrapperCaption {
            display: grid;
            place-items: center;
            text-align: right;
        }
        .wrapperImg {
            height: auto;
            display: grid;
            place-items: center;
            img {
                width: 100%;
            }
        }
    }
    [data-bs-target] {

    }
}
.wrapperCaption {
    padding-right: 3vw;
    line-height: 1.3;
}
.wrappertextDescImg {
    padding-left: 3vw;
    display: grid;
    place-items: center;
    .text {
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid;
        border-bottom: 1px solid;
    }
}

.mb-32 {
    margin-bottom: 32px;
}
.mb-64 {
    margin-bottom: 64px;
}
.mb-100 {
    margin-bottom: 100px;
}
.mb-160 {
    margin-bottom: 160px;
}

.textArrow {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.4;
    .arrow {
        width: 100%;
        max-width: 240px;
        &.right {
            float: right;
        }
    }
}