body {
    margin: 0;
    padding: 0;
}

nav {
    ul {
        list-style: none;
    }
}

ul {
    margin: 0;
    padding: 0;
}

.containerGrid {
    padding: 0px $padding-x-container;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 800px) 1fr;
}