.titleMenu {
    font-size: 18px;
    padding-bottom: 4px;
    border-bottom: 1px solid $blanco;
}

.titleHome {
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}

.titleSection {
    font-size: 40px;
    font-weight: 500;
    line-height: normal;
}