// colores
$azul: #2B4F60;
$piel: #EAD3CB;
$blanco: #FFFFFF;
$verde-mar: #5f939a;
$verde-claro: #bee5d3;
$rosa: #d6b0b1;
$negro: #1B2021;
$guinda: #845460;
$verde-oscuro: #368B85;
$morado: #8B5E83;
$rosa-claro: #F1E9E5;
$gris: #BDC7C9;
$marron: #8e7f7f;

// componentes
$header-color: $azul;
$header-height: 80px;

$bg-home-color-1: $piel;
$bg-home-color-2: $guinda;
$bg-home-color-3: $azul;
$bg-home-color-4: $negro;

$button-move-color: rgb(174, 0, 0);

$footer-color: $gris;

// padding
$padding-x-container: 80px;