@import "../styles/sass/variables";

.home1 {
    background-color: $bg-home-color-1;
}
.home2 {
    background-color: $bg-home-color-2;
}
.home3 {
    background-color: $bg-home-color-3;
}
.home4 {
    background-color: $bg-home-color-4;
}