@import "~/styles/sass/variables";



.section1 {
    background-color: $piel;
    color: $guinda;
    height: 100vh;
    @media (max-width: 767.98px) {
        height: auto;
    }
    .linkMenu {
        color: $guinda;
    }
    .containerGrid {
        padding-top: 32px;
        padding-bottom: 32px;
        height: 100%;
    }
    .grid1 {
        display: grid;
        grid-template-columns: 55% auto;
        gap: 0px 60px;
        @media (max-width: 767.98px) {
            display: block;
        }
        .wrapperImg {
            display: grid;
            place-items: center;
            height: 100%;
        }
    }
    .partText {
        color: $negro;
    }
}

.grid2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section2 {
    background-color: $guinda;
    color: $piel;
    .linkMenu {
        color: $verde-claro;
        padding-top: 300px;
        position: sticky;
        top: 20px;
    }
    .pt {
        padding-top: 160px;
        @media (max-width: 767.98px) {
            padding-top: 40px;
        }
    }
}
.section3 {
    background-color: $gris;
    color: $azul;
    .linkMenu {
        margin-top: 300px;
    }
    .minWrap {
        color: $negro;
        max-width: 540px;
        margin: auto;
    }
}
.section4 {
    background-color: $negro;
    color: $piel;
    .linkMenu {
        margin-top: 100px;
    }
    .containerVideos {
        .video1 {
            .infoVideo {
                color: $azul;
                background-color: $verde-mar;
                .mirar {
                    border-bottom: 1px solid $azul;
                }
                .titulo {
                    border-bottom: 1px solid $azul;
                }
            }
        }
    }
}